.footerRow {
  margin-top: 1rem;
}

.tableData {
  text-align: center;
}

.dashboardCard {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 5px 0px;
  cursor: pointer;
}

.dashboardCard:hover {
  box-shadow: rgba(31, 31, 250, 0.2) 0px 0px 30px 0px;
}

.dashboardRow {
  margin: auto;
  width: 70%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

p {
  font-size: 20px;
}

a {
  font-size: larger;
  border: 1px solid blue;
  padding: 0.2rem 0.8rem;
  border-radius: 10px;
}

a:hover {
  font-weight: 700;
  color: white;
  background-color: blue;
}

.tableRow:hover {
  cursor: pointer;
  background-color: rgb(131, 162, 255);
}

.bottomRow {
  margin-top: 2rem;
  font-size: smaller;
}

.bottomRowBtn {
  margin-top: 5px;
  font-size: large;
  font-weight: 800;
}

.dueDate {
  padding-left: 15px;
}
